{erl_opts, [warn_missing_spec]}.

{deps, [
    {cowboy, {git, "https://github.com/extend/cowboy.git", {tag, "1.0.4"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {ref, "a7db72493d2288533afbb417d5c2e6f11db84639"}}},
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.6.0"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.6.2"}}}
]}.

%% {profiles, [
%%     {test, [
%%         {cover_enabled, true}
%%     ]}
%% ]}.

%% {overrides, [
%%     {override, jiffy, [
%%         {plugins, [
%%             {pc, "1.1.0"}
%%         ]},
%%         {provider_hooks, [
%%             {post, [
%%                 {compile, {pc, compile}},
%%                 {clean, {pc, clean}}
%%             ]}
%%         ]}
%%     ]}
%% ]}.
