{minimum_otp_vsn, "21"}.

{erl_opts, [warn_missing_spec]}.

{deps, [
    {cowboy, "2.9.0"},
    {jiffy, "1.0.8"},
    {msgpack, "0.7.0"},
    {gun, "2.0.0-rc.2"}
]}.

{profiles, [
    {test, [
        {extra_src_dirs, [
            {"test", [{recursive, true}]}
        ]}
    ]}
]}.

{project_plugins, [
    {rebar3_lint, "~> 1.0.1"}
]}.

{elvis_output_format, plain}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias, [{test, [compile, lint, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.
